<header>
  <section>
    <h3>Header here!</h3>
  </section>

  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/speakers">speakers</a></li>
    </ul><!-- nav -->
  </nav>
</header><!-- header -->